* {
    background-color: antiquewhite;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    margin: 15px;
}

input {
    width: 100%;
}

.item-con {
    text-align: left;
}

.universal-row {
    margin: 10px;
}

.universal-button {
    min-width: 80px;
}

.bold-item {
    font-weight: 700;
}